.camSetBox1 {
  @apply col-span-12 row-span-4 p-5 w-[100%] h-[580px] flex justify-between rounded border-l-8 border-[#f7bdb2];
  background-color: #f0f0f0;
}
.camSetBox2 {
  @apply col-span-12 row-span-2 p-5 w-[100%] h-[280px] md:justify-between flex lg:items-center border-l-4 border-[#f7bdb2];
  background-color: #f0f0f0;
}
.camSetBox3 {
  @apply col-span-12 row-span-2 p-5 w-[100%] h-[280px] md:justify-between flex lg:items-center border-l-4 border-[#f7bdb2];
  background-color: #f0f0f0;
}

.img1 {
  width: 600px;
  background-position: center;
  background-size: contain;
}

.img2 {
  width: 600px;
  background-position: center;
  background-size: contain;
}

.mainBtn {
  @apply bg-[#5a6680] px-6 py-3 text-lg font-medium text-white;
}
