/* ProductsOverview.css */
body {
    background-color: #FAF7F0; /* กำหนดสีพื้นหลัง */
}

/* กำหนดคลาสกำหนดรูปแบบเฉพาะสำหรับ div คอนเทนเนอร์ของคุณ */
.custom-container {
    background-color: #FAF7F0; /* กำหนดสีพื้นหลังของคอนเทนเนอร์ */
    /* เพิ่มการกำหนดรูปแบบเพิ่มเติมตามที่คุณต้องการสำหรับคอนเทนเนอร์ */
}

/* กำหนดคลาสกำหนดรูปแบบเฉพาะสำหรับปุ่ม */
.btn {
    background-color: #FAF7F0; /* กำหนดสีพื้นหลังของปุ่ม */
    /* เพิ่มการกำหนดรูปแบบเพิ่มเติมสำหรับปุ่มตามที่คุณต้องการ */
}

/* กำหนดคลาสกำหนดรูปแบบเฉพาะสำหรับสีของข้อความบนปุ่ม */
.btn-text {
    color: #FAF7F0; /* กำหนดสีของข้อความบนปุ่ม */
}

.text-whitle
