@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f9fa;
  color: #353535;
  height: screen;
  font-family: 'Jaldi', sans-serif;
}

:root {
  background-color: #f8f9fa;
}
